<title>Register</title>

<head>
  <%- include('partials/dashboard'); %>
</head>
<div class="container-fluid">
<h1>Edit an account</h1>

  <table class="table table-striped table-sm table-bordered">
    <tr>
        <th scope="row" style="display: none">_id</th>
        <td>Name</th>
        <td>Username/Email</td>
        <td>Password</td>
        <td>Phone</td>
        <td>Privilege</td>
        <td>Merchant ID</td>
        <td></td>
    </tr>
    <% if (user) { %>
        <% for (var i = 0; i < user.length; i++) { %>
          <form action="/edit/<%= user[i]._id %>" method="POST">
            <tr>
              <td style="display: none"><input type="text" name="_id" value="<%= user[i]._id %>" readonly/></td>
              <td><input type="text" name="name" value="<%= user[i].name %>"/></td>
              <td><input type="text" name="email" value="<%= user[i].email %>"/></td>
              <td><input type="password" name="password" placeholder=" ******** " readonly /> </td>
              <td><input type="text" name="phone" value="<%= user[i].phone %>"/></td>
              <td><input type="text" name="priv" value="<%= user[i].priv %>"/></td>
              <td><input type="text" name="merchant_id" value="<%= user[i].merchant_id %>"/></td>
              <td><button type="submit">Save</button> <button type="submit" formaction="/delete/<%= user[i]._id %>">Delete</button></td>
            </tr>
          </form>
        <% } %>
  <% } %>
</table>

  
  <p>Register new user? <a href="/register">Register</a></p>

</div>
<footer>
  <%- include('partials/footer'); %>
</footer>