
<html lang="en-US">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<title>Home</title>

<head>
  <%- include('partials/dashboard'); %>
</head>

<div class = "container-fluid">
    <div class="row align-items-start">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="container" style="margin-top: 50px; padding: 10px; border: solid 1px black">
          <form method="POST" action="/payment">
            <table>
              <tr>
                <td><label>Order ID : </label></td>
                <td></td>
                <td><input type="text" name="order_id"/></td>
              </tr>
              <tr>
                <td><label>Amount : </label></td>
                <td></td>
                <td><input type="number" id="amount" name="amount" onkeyup="getFinalAmount()"/></td>
                <td>
                  <select id="currency" name="currency" onchange="getFinalAmountOnChange()">
                    <option value="1">BND</option>
                    <option value="USD">USD</option>
                    <option value="TWD" selected>TWD</option>
                    <option value="MYR">MYR</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label>Amount (BND) : </label></td>
                <td></td>
                <td><input type="text" id="finalAmount" name="finalAmount" onkeyup="getAmount()"/></td>
                <td>
                  <select>
                    <option name="bnd">BND</option>
                  </select>
                </td>
              </tr>

            </table>
            <br>
            
            <br>
            <button style="align-items: center;" type="submit">Proceed with payment</button>
          </form>
        </div>

      </div>
      </div>
      </div>

<footer>
  
    <%- include('partials/footer'); %>
</footer>


<script>

  function getFinalAmount(){
    document.getElementById("finalAmount").value = "";
    if((document.getElementById("currency").value)==="USD"){
      document.getElementById("finalAmount").value = (document.getElementById("amount").value * <%= usd%>).toFixed(2);
    }
    else if((document.getElementById("currency").value)==="TWD"){
      document.getElementById("finalAmount").value = (document.getElementById("amount").value * <%= twd%>).toFixed(2);
    }
    else if((document.getElementById("currency").value)==="MYR"){
      document.getElementById("finalAmount").value = (document.getElementById("amount").value * <%= myr%>).toFixed(2);
    }
    else {
      document.getElementById("finalAmount").value = (document.getElementById("amount").value * 1).toFixed(2);
    }
  }
  function getFinalAmountOnChange(){
    document.getElementById("finalAmount").value = "";
    document.getElementById("finalAmount").value = (document.getElementById("amount").value * document.getElementById("currency").value).toFixed(2);
  }

  function getAmount(){
    document.getElementById("amount").value = "";
    if((document.getElementById("currency").value)==="USD"){
      document.getElementById("amount").value = (document.getElementById("finalAmount").value / <%= usd%>).toFixed(2);
    }
    else if((document.getElementById("currency").value)==="TWD"){
      document.getElementById("amount").value = (document.getElementById("finalAmount").value / <%= twd%>).toFixed(2);
    }
    else if((document.getElementById("currency").value)==="MYR"){
      document.getElementById("amount").value = (document.getElementById("finalAmount").value / <%= myr%>).toFixed(2);
    }
    else {
      document.getElementById("amount").value = (document.getElementById("finalAmount").value / 1).toFixed(2);
    }
  }

  

</script>

</html>